body {
  background: cornflowerblue;
}
/* ----------- Tablets ----------- */
@media (min-width: 768px) {
	body { 
    background-color: plum;
  }
}

/* ----------- Desktops ----------- */
@media (min-width: 1200px) {
  body {
    background-color: peru;
  }
}
